
<div class="container-fluid">
	<div class="container xd-container">
		<h2>New Projection</h2>
		<form (ngSubmit)="onSubmit(projectionForm.value)"
			#projectionForm="ngForm" class="form-horizontal">
			<div class="form-group" hidden="true">
				<input type="text" hidden="true" class="form-control" id="id"
					[(ngModel)]="projection.id" name="id" />
			</div>

			<div class="form-group has-feedback"
				[class.has-success]="projectionName.dirty && projectionName.valid"
				[class.has-error]="projectionName.dirty &&  !projectionName.valid">
				<label for="projectionName" class="col-sm-2 control-label">Projection
					Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="projectionName"
						[(ngModel)]="projection.projectionName" minlength="2" required
						name="projectionName" #projectionName="ngModel" /> <span
						class="glyphicon form-control-feedback"
						[class.glyphicon-ok]="projectionName.valid"
						[class.glyphicon-remove]="!projectionName.valid"
						aria-hidden="true"></span> <span class="help-block"
						*ngIf="projectionName.dirty && projectionName.hasError('required')">Projection
						name is required</span> <span class="help-block"
						*ngIf="projectionName.dirty && projectionName.hasError('minlength')">Projection
						name must be at least 2 characters long</span>
				</div>
			</div>


			<div class="form-group  ">
				<label for="programName" class="col-sm-2 control-label">Program
					Name </label>
				<div class="col-sm-10">
					<select id="programName" class="form-control"
						[(ngModel)]="projection.programName" required name="programName"
						#programName="ngModel">
						<option *ngFor="let program of programList"
							value="{{program.programName}}">{{program.programName}}</option>
					</select> <span class="help-block"
						*ngIf="programName.dirty && programName.hasError('required')">Program
						Name is required</span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default" type="button"
						(click)="gotoProjectionsList()">Back</button>
					<button class="btn btn-default" type="submit"
						[disabled]="!projectionForm.valid">Add Projection</button>
				</div>
			</div>
		</form>
	</div>
</div>
