
<div class="container-fluid">

	<nav class="navbar navbar-default " role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span></span></a>
			</div>

			<ul class="nav navbar-nav">
			<li></li>
			<li></li>
				<li><a routerLink="welcome" title="home page"> <span
						class="glyphicon glyphicon-home" aria-hidden="true"></span> <span>Home</span>
				</a></li>
<li></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Programs<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a routerLink="/programs"><span
								class="glyphicon glyphicon-search" aria-hidden="true"></span><span>
									All</span></a></li>
						<li><a routerLink="/programs/add"><span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><span>
									Add New</span></a></li>
					</ul></li>
<li></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Projections<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a routerLink="/projections"><span
								class="glyphicon glyphicon-search" aria-hidden="true"></span><span>
									All</span></a></li>
						<li><a routerLink="/projections/add"><span
								class="glyphicon glyphicon-plus" aria-hidden="true"></span><span>
									Add New</span></a></li>
					</ul></li>


			</ul>

		</div>
	</nav>

</div>



<router-outlet></router-outlet>

<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<img
				src="../../../assets/images/spring-pivotal-logo.png"
				alt="Sponsored by Pivotal" />
		</div>
	</div>
</div>
