

<div class="container-fluid">
	<div class="container xd-container">

		<h2>Program Information</h2>


		<table class="table table-striped">
			<tr>
				<th>Program Name</th>
				<td><b>{{program.programName}}</b></td>
			</tr>
			<tr>
				<th>Buyer</th>
				<td>{{program.buyer}}</td>
			</tr>
			<tr>
				<th>Department</th>
				<td>{{program.dept}}</td>
			</tr>
			<tr>
				<th>Season</th>
				<td>{{program.season}}</td>
			</tr>
			<tr>
				<th>Brand</th>
				<td>{{program.brand}}</td>
			</tr>
			<tr>
				<th>cluster</th>
				<td>{{program.cluster}}</td>
			</tr>
		</table>

		<button class="btn btn-default" (click)="gotoProgramsList()">
			Back</button>
		<button class="btn btn-default" (click)="editProgram()">Edit
			Program</button>
		<button class="btn btn-default" (click)="deleteProgram()">Delete
			Program</button>
		<br /> <br /> <br />

	</div>
</div>
